{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<!-- <p>We sale Furnitures</p> -->
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Why <span class="orange-text">The Wooden</span></h2>
						<div class="list-box mb-5">
							<div class="content">
								<p>Welcome to our furniture website! We are dedicated to providing you with a wide range of high-quality furniture options that will transform your home into a stylish and comfortable space. From modern designs to timeless classics, our collection offers something for every taste and budget. Explore our website and discover the perfect pieces to enhance your living spaces.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Free Home Delivery</h3>
										<p>Enjoy the convenience of free home delivery on furniture purchases with us. Get your furniture delivered straight to your door hassle-free. Upgrade your home decor effortlessly with our service.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Convenient Price</h3>
										<p>Get the best deals on furniture at our website with unbeatable prices. Shop now for high-quality pieces to elevate your home decor on a budget.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sort-amount-up"></i>
									</div>
									<div class="content">
										<h3>High-Quality</h3>
										<p>Introducing our high-quality furniture collection, built to last with durable materials and strong craftsmanship. Elevate your space with stylish and reliable furniture that will stand the test of time.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-thumbs-up"></i>
									</div>
									<div class="content">
										<h3>42 months Warrenty</h3>
										<p>42-month warranty includes free replacement of defective parts, caused by manufacturing or material defects. Wear and tear, improper use, and modifications are not covered. Contact us with issue description and proof of purchase for warranty claims. We aim to promptly and satisfactorily resolve any problems.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->
{% endblock %}