{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Chair</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters text-center ">
						<a href="{% url 'bar' %}" class="cart-btn btn-lg">Bar</a>
					</div>
                </div>
            </div>

			<div class="row product-lists" style="position: relative; height: auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_1' %}"><img src="{% static '/customer/img/chair/chair_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Wood Living Room Chair Garden Chair Super Strong Folding Relax Outdoor and Indoor Wooden Chair</h3>
						<p class="product-price"> ₹2,500  </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_2' %}"><img src="{% static '/customer/img/chair/chair_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wooden Dining Chairs | Dining Room Furniture with Cushions | Dining Chair Set of 2 | Study Chair with Cushions for Dining (Walnut, Two Seats)</h3>
						<p class="product-price"> ₹6,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_3' %}"><img src="{% static '/customer/img/chair/chair_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Rosewood Bar Stool Modern Furniture Off Games Wooden High Chair Pu Leather Chair Cushion for Kitchen | Living Room | Office | Cafe (Natural)</h3>
						<p class="product-price"> ₹2,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_4' %}"><img src="{% static '/customer/img/chair/chair_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Chair with Wood Legs for Living Dining Chairs for Study Room Home Bedroom Kitchen Cafe Chairs, Pack of 1, Black</h3>
						<p class="product-price"> ₹2,530 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_5' %}"><img src="{% static '/customer/img/chair/chair_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wood Oval Study Dining Chair Desk Chair with Cushion for Living Room Wooden Furniture for Home Office (Natural Finish)</h3>
						<p class="product-price"> ₹3,700 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_6' %}"><img src="{% static '/customer/img/chair/chair_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Rocking Chair by SHEESHAM Wooden Rocking Chair for Adults| Recliner Chair for Living Room| Rolling Chair in Wheel Design Decor</h3>
						<p class="product-price"> ₹9,700 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_7' %}"><img src="{% static '/customer/img/chair/chair_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Bamboo Wooden Cane (Rattan, Bait) Chair for Lawn Chair, Arm Chair, Room Chair, Indoor Outdoor with Cushion</h3>
						<p class="product-price"> ₹1,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_8' %}"><img src="{% static '/customer/img/chair/bar_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Rectangular sheesham Wooden bar stools in Walnut/Teak Finish for Home bar/bar Chair</h3>
						<p class="product-price"> ₹2,800 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_9' %}"><img src="{% static '/customer/img/chair/bar_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Priti bar Stool with Metal Legs Breakfast Kitchen Counter Bar Seat Chairs Barstools High Stools (Dark Wooden)</h3>
						<p class="product-price"> ₹1,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_10' %}"><img src="{% static '/customer/img/chair/bar_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip"> Sheeesham Wood bar Chairs/bar Stool/Kitchen Chair with Rounded Back Rest with arm Rest in Natural Brown Finish 29 inches Seating Height, Set of 2</h3>
						<p class="product-price"> ₹7,400</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_11' %}"><img src="{% static '/customer/img/chair/bar_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sagwan Wood Frame with 360 Degree Ball & Cast Swivel Valebeck Height Bar Stool (Set of 2)</h3>
						<p class="product-price"> ₹29,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_12' %}"><img src="{% static '/customer/img/chair/bar_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Bar Stool, Pack of 2, Solid Wood with Natural Finish</h3>
						<p class="product-price"> ₹4,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_13' %}"><img src="{% static '/customer/img/chair/bar_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Handicraft Antique Look & Stylish Wooden Bar Chair- 45.7D x 45.7W x 106.7H Centimeters</h3>
						<p class="product-price"> ₹13,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'chair_14' %}"><img src="{% static '/customer/img/chair/bar_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wood Long Bar Chair bar Stool Rosewood Natural Brown Finish Natural</h3>
						<p class="product-price"> ₹1,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>

			<div class="row mt-5">
                <div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'customer_dashboard' %}" class="cart-btn btn-lg">Go to Home</a>
					</div>
		        </div>
            </div>
		</div>
	</div>
{% endblock %}