{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<!-- <h1>Change Password</h1> -->
						<h1><i class="fas fa-regular fa-bounce fa-key"></i></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- login form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-12 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>Change Password</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 mb-5 mb-lg-0">
				</div>
				<div class="col-lg-8 mb-5 mb-lg-0">
					<form method="POST" action="/customer/change_password">{% csrf_token %}
						<div class="form-group row">
						    <div class="col-lg-12">
							    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Old Password">
							</div>
						</div>
						<div class="form-group row">
						    <div class="col-lg-12">
							    <input type="password" class="form-control form-control-lg" id="npassword" name="npassword" placeholder="New Password">
							</div>
						</div>
						<div class="form-group row">
						    <div class="col-lg-12">
							    <input type="password" class="form-control form-control-lg" id="cpassword" name="cpassword" placeholder="Confirm Password">
							</div>
						</div>
						{% if messages %}
							<ul class="messages font-weight-bold text-danger" style="list-style: none;">
							    {% for message in messages %}
							    	<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							    {% endfor %}
							</ul>
						{% endif %}
						<br>
						<div class="form-group row text-center">
						    <div class="col-lg-12">
						        <p><input class="col-lg-3 px-3" type="submit" id="submit" name="submit" value="Change Password"></p>
						    </div></div>
						</div>
						<!-- <hr>
						<div class="form-group row text-center col-lg-12">
						    <div class="col-lg-12">
						        <h6>Not registered?<span><a href="{% url 'register' %}"> Create an Account</a></span></h6>
						    </div>
						</div> -->
					</form>
				</div>
				<div class="col-lg-2 mb-5 mb-lg-0">
				</div>
			</div>
		</div>
	</div>
	<!-- end login form -->
{% endblock %}