{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Dining</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height: auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wood 6 Seater Dining Table Set | Living Room Dining Table with 6 Chairs | Wooden Dining Room Sets for Home Kitchen Modern Furniture | Maple Finish- 160 x 81.3 x 73.7 Centimeters LxWxH</h3>
						<p class="product-price"> ₹ 25,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wooden Dining Table 4 Seater | Dinner Table, 3 Chairs & 1 Bench | Four Seater Dinning | Solid Wood Sheesham, Honey Finish- 86.4 x 86.4 x 76.2 Centimeters</h3>
						<p class="product-price"> ₹ 11,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood 6 Seater Dining Table with 6 Chair for Living Room | Sheesham Wood Dining Set | Hotel Restaurant Dining Set | 6 Seater Dining Set- 145 x 89 x 76 Centimeters</h3>
						<p class="product-price"> ₹ 22,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood Six Seater Dining Set For Dining Room | Wooden One Dining Table With Six Chairs | Colour Finish - Natural Brown Finish |- 144.8 x 88.9 x 76.2 Centimeters</h3>
						<p class="product-price"> ₹ 19,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood Dining Table 6 Seater | Wooden Six Seater Dinning Table with Cushion Chairs | Dinner Table 6 Seater | Dining Room Sets | Self Assembly, Honey Finish-147.3 x 88.9 x 73.7 Centimeters</h3>
						<p class="product-price"> ₹ 15,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Solid Wood Dining Table for Living Room Home Hall Hotel Dinner Restaurant Wooden Dining Table Dining Room Set Home & Kitchen (6 Seater, Honey Oak)-160 x 96.5 x 76.2 Centimeters</h3>
						<p class="product-price"> ₹ 29,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/dining_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood Six Seater Dining Set for Dining Room | Wooden One Dining Table with Four Chairs & One Bench | Colour Finish- Mahogany Finish | - 144.8 x 88.9 x 76.2 Centimeters</h3>
						<p class="product-price"> ₹ 27,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
		        <div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'table' %}" class="cart-btn btn-lg">Back</a>
					</div>
		        </div>
			</div>
		</div>
	</div>
{% endblock %}