{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Double Beds</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height:auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_1' %}"><img src="{% static '/customer/img/bed/double_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood King Size Storage Bed with Hydraulic Mechanism - (Matte Finish_Brown, size 2.23L x 1.91W x 0.88H )</h3>
						<p class="product-price">₹25,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_2' %}"><img src="{% static '/customer/img/bed/double_2.jpg' %}" alt=""></a>	
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood King Size Poster Bed with Storage Wooden Double Bed Furniture for Bedroom Living Room Home (Walnut Finish, size 1.98L x 1.83W x 1.99H )</h3>
						<p class="product-price">₹33,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_3' %}"><img src="{% static '/customer/img/bed/double_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Low Height Wooden King Size Bed Without Storage | Double Bed/Cot with Cushion Headboard | Rosewood, Brown Finish & Blue (2.06L x 1.88W x 0.84H meter)</h3>
						<p class="product-price">₹22,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_4' %}"><img src="{% static '/customer/img/bed/double_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip"> Engineered Wood King Bed with Storage (Knotty Wood Finish, 2.06x1.89.5x0.8)</h3>
						<p class="product-price">₹19,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_5' %}"><img src="{% static '/customer/img/bed/double_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood King Bed with Box Storage (Walnut finish, 1.90L x 2.20W x 0.97H )</h3>
						<p class="product-price">₹15,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_6' %}"><img src="{% static '/customer/img/bed/double_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wooden Bed King Size Bed with Storage | Wooden Double Bed Cot Bed and Headboard for Bedroom | Rosewood, Natural Finish(Length: 81 X Width: 75 X Height: 35.4 )</h3>
						<p class="product-price">₹25,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_7' %}"><img src="{% static '/customer/img/bed/double_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Double Bed, King Size Bed, Andromeda Sheesham Wood Bed with Storage, Solid Wooden Bed (Solid Wooden Texture_Natural Finish 2.1L x 1.88W x 0.9H)</h3>
						<p class="product-price">₹24,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_8' %}"><img src="{% static '/customer/img/bed/double_8.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wood King Size Bed with Cube Blocks Design - Hydraulic Storage, Elegant and Functional (W190 x D213 x H100 cm, Sheesham Wood-Cube Blocks Design)</h3>
						<p class="product-price">₹49,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_9' %}"><img src="{% static '/customer/img/bed/double_9.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip"> Engineered Wood Double King Size Bed with Storage Box for Bedroom Home Furniture (Wenge & White)(1.55L x 2.02W x 0.74H)</h3>
						<p class="product-price">₹17,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'double_bed_10' %}"><img src="{% static '/customer/img/bed/double_10.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Modern Upholstered King Size Bed for Bedroom - Upholestery Premium Fabric Cot for Home - 6.5 x 6 Ft Bed</h3>
						<p class="product-price">₹21,500</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'bed_cat' %}" class="cart-btn btn-lg">Back</a>
					</div>
		        </div>
			</div>
		</div>
	</div>
{% endblock %}