{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Single Beds</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height:auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_1' %}"><img src="{% static '/customer/img/bed/single_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip" class="text-overflow-clip">Single Bed, Taurus Engineered Wood Bed with Storage, Wooden Bed (78x36 Inches)</h3>
						<p class="product-price">₹9,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_2' %}"><img src="{% static '/customer/img/bed/single_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip" class="text-overflow-clip">Solid Sheesham Wood Single Bed Cot with Storage | Single Size Bed for Bedroom | Multipurpose Storage Bed (Teak-C, Single)</h3>
						<p class="product-price">₹23,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_3' %}"><img src="{% static '/customer/img/bed/single_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip" class="text-overflow-clip">Sheesham Single Bed/Cot for Bedroom/Livingroom/Home/Office Solid Wood Single Bed  (Finish Color - Natural)</h3>
						<p class="product-price">₹15,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_4' %}"><img src="{% static '/customer/img/bed/single_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip" class="text-overflow-clip">Single Bed with Headboard Open Storage, Takeo Series - Engineered Wood | - Walnut Colour</h3>
						<p class="product-price">₹10,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_5' %}"><img src="{% static '/customer/img/bed/single_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip" class="text-overflow-clip">Wooden Pippa Kids Single Bed Cot with Ladder - Sturdy, Durable for Bedroom, Home Decor (White, Size: 63 x 32 x 27.5 Inch)</h3>
						<p class="product-price">₹15,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_6' %}"><img src="{% static '/customer/img/bed/single_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip" class="text-overflow-clip">Engineered Wood Single Bed with Drawers (Finish Color - Moonshine White, Matte Finish)</h3>
						<p class="product-price">₹23,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_7' %}"><img src="{% static '/customer/img/bed/single_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Single Bed With Storage (Honey finish , 88 L x 39 W x 33 H)</h3>
						<p class="product-price">₹33,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_8' %}"><img src="{% static '/customer/img/bed/single_8.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Furnmill Boston Wooden Trundle Bed, Finish : Natural, Single Size Wooden Bed with Sliding Bed,Size : 200 X 96.5 X 100.5 CM</h3>
						<p class="product-price">₹28,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_9' %}"><img src="{% static '/customer/img/bed/single_9.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Single Bed with Headboard & Without Storage | 1 Year Warranty | Rubber Wood</h3>
						<p class="product-price">₹10,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item" style="height:;">
						<div class="product-image">
							<a href="{% url 'single_bed_10' %}"><img src="{% static '/customer/img/bed/single_10.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood Single Bed Without Storage Box for Bedroom Home Furniture (Wenge & Frosty) - DIY (Do-It-Yourself)</h3>
						<p class="product-price">₹11,000</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'bed_cat' %}" class="cart-btn btn-lg">Back</a>
					</div>
		        </div>
			</div>
		</div>
	</div>
{% endblock %}