{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Sofa</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height: auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_1' %}"><img src="{% static '/customer/img/sofa/sofa_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solimo Maclear 3 Seater Sofa (Fabric, Steel Grey)</h3>
						<p class="product-price">₹ 15,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_2' %}"><img src="{% static '/customer/img/sofa/sofa_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Modern Classic 4 Seater Velvet Button Tufted 3+1+1Footrest Chesterfield Sofa for Living Room and Office (Teal Green) (Pillows Not Included)</h3>
						<p class="product-price">₹ 25,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_3' %}"><img src="{% static '/customer/img/sofa/sofa_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wood 6 Seater Sofa Set for Living Room Wooden Sofa Set for Living Room Furniture 3+2+1 Natural Teak Finish</h3>
						<p class="product-price">₹ 28,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_4' %}"><img src="{% static '/customer/img/sofa/sofa_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">2 Seater Sofa Cum Bed Jute Fabric 5x6 Feet Washable Cover with 2 Printed Cushion and 2 Foot Stools/Pouffe (Dark Brown, 5x6 Feet) 2-Person Sofa</h3>
						<p class="product-price">₹ 8,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_5' %}"><img src="{% static '/customer/img/sofa/sofa_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip"> Leatherette Chesterfield 3+2= 5 Seat Sofa Roll Arm Classic Five Seater Chesterfield Sofa Set (Brown)</h3>
						<p class="product-price">₹ 32,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_6' %}"><img src="{% static '/customer/img/sofa/sofa_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">8 Seater Fabric RHS L Shape Sofa Set with 1 Centre Table & 2 Puffy (Dark Grey-Light Grey)</h3>
						<p class="product-price">₹ 	24,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_7' %}"><img src="{% static '/customer/img/sofa/sofa_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">leatherette & Fabric 8 Seater Sofa  (Finish Color - Blue & White)</h3>
						<p class="product-price">₹ 24,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_8' %}"><img src="{% static '/customer/img/sofa/sofa_8.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">6 Seater L Corner Sofa Set,Extra Spacious, Chenille Molfino Fabric (Green, 6 Seater(LHS))</h3>
						<p class="product-price">₹ 20,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_9' %}"><img src="{% static '/customer/img/sofa/sofa_9.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sofa Set for Living Room | Sofa Set, 2+1+1 Seater Sofa, Wooden Sofa Set for Living Room, 4 Seater (Velvet Fabric, Stone)</h3>
						<p class="product-price">₹ 32,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'sofa_10' %}"><img src="{% static '/customer/img/sofa/sofa_10.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">5 Seater Leatherette Luxury Corner Sofa Set with Centre Table (Cream-Brown)</h3>
						<p class="product-price">₹ 35,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>
		
		<div class="row mt-5">
                <div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'customer_dashboard' %}" class="cart-btn btn-lg">Go to Home</a>
					</div>
		        </div>
            </div>
		</div>
	</div>


{% endblock %}