{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Study/Office</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height: auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wooden Office Table for Work from Home | Study Table Desk | Computer/Laptop Workstation | Solid Wood Acacia & Iron, Brown & Black-45.7D x 114.3W x 76.2H</h3>
						<p class="product-price"> ₹ 5,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">18X31.5 inches Wooden Wall Mounted Folding Study Table| Wall Mount Table with Cup Holder & Drawer | Foldable Laptop-52.6D x 84.4W x 5.6H Desk for Home and Office Computer| Italian Marble</h3>
						<p class="product-price"> ₹ 2,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wooden Standard Adjustable Laptop and Study Table/Portable Lap Desk - Multipurpose Bed Table with Folding Legs and Drawer - Walnut Finish 33.2D x 66W x 25.4H</h3>
						<p class="product-price"> ₹ 1100 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Study Table | Writing, Computer Desk for Students, Adults, Professionals | Engineered Wood | Rolex Brown Finish | Surface Top, Shelves, Cabinet - 60D x 100W x 134H Centimeters</h3>
						<p class="product-price"> ₹ 5900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wooden Study Table & Desk for Office and Home | Computer Laptop Table | Reading & Writing Table | Laptop Desk | Desktop Table | (Walnut Chestnut) - 50.8D x 144.8W x 76.2H Centimeter></h3>
						<p class="product-price"> ₹ 15,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood Office Table for Office Work | Wooden Study Table for Adults Student Big Size | Boss Laptop Computer Table for Work from Home | Reading & Writing Table | Teak - 60D x 140W x 76H Centimeters</h3>
						<p class="product-price"> ₹ 10,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="wardrobe-product.html"><img src="{% static '/customer/img/table/study_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Computer Desk With Hutch, 47 Inches Home Office Desk With Space Saving Design With Bookshelf For Small Spaces(Engineered Wood, White&White)- 57.4D x 120W x 139H Centimeters</h3>
						<p class="product-price"> ₹ 7,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'table' %}" class="cart-btn btn-lg">Back</a>
					</div>
		        </div>
			</div>
		</div>
	</div>
{% endblock %}