{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>TV & Media</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height: auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_1' %}"><img src="{% static '/customer/img/tv/tv_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid sheesham Wood tv Unit 1 Drawer 2 Door Cabinet Natural Teak Finish Colour Brown</h3>
						<p class="product-price">₹ 13,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_2' %}"><img src="{% static '/customer/img/tv/tv_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wooden TV Unit Table - Two Compartments with Door, Walnut Finish Tabletop for Living Room, Bedroom, Office Furniture Stand (60 inch x 16 inch x 18 inch, White)</h3>
						<p class="product-price">₹ 11,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_3' %}"><img src="{% static '/customer/img/tv/tv_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip"> Sheesham Wood Entertainment Tv Unit & Set of 2 Book Shelf for Living Room | Tv Cabinet with 2 Open Display Decor Bookcase | Tv Table with 4 Shelf & 2 Drawer Storage and Bookshelfs | Natural</h3>
						<p class="product-price">₹ 44,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_4' %}"><img src="{% static '/customer/img/tv/tv_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wooden Entertainment Tv Unit for Living Room | Television Stand with Drawer & Shelf</h3>
						<p class="product-price">₹ 11,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_5' %}"><img src="{% static '/customer/img/tv/tv_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Sheesham Wood TV Cabinet 3 Drawers & 1 Open Shelf, TV Unit (Honey Finish)</h3>
						<p class="product-price">₹ 15,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_6' %}"><img src="{% static '/customer/img/tv/tv_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wall Mount TV Entertainment Unit/with Set Top Box Stand and Wall Shelf Display Rack for Living Room White (Ideal for up to 32") Screen</h3>
						<p class="product-price">₹ 4,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_7' %}"><img src="{% static '/customer/img/tv/tv_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid sheesham wood wooden tv cabinet for living room & bedroom|Tv unit with drawer,door & shelf storage space free standing(Honey finish)</h3>
						<p class="product-price">₹ 3,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_8' %}"><img src="{% static '/customer/img/tv/tv_8.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood 2 Door Entertainment Unit and TV Stand (Wotan Oak and White)</h3>
						<p class="product-price">₹ 5,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_9' %}"><img src="{% static '/customer/img/tv/tv_9.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid sheesham wood wooden tv cabinet for living room & bedroom|Tv unit with drawer,door & shelf storage space free standing(Honey finish)</h3>
						<p class="product-price">₹ 13,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'tv_10' %}"><img src="{% static '/customer/img/tv/tv_10.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood Tv Wall Unit, Set Top Box Stand, Walnut & White</h3>
						<p class="product-price">₹ 3,300 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
					</div>
				</div>
			</div>

			<div class="row mt-5">
                <div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'customer_dashboard' %}" class="cart-btn btn-lg">Go to Home</a>
					</div>
		        </div>
            </div>
		</div>
	</div>
{% endblock %}