{% extends 'common/customer/layout_user.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Wardrobe</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end breadcrumb section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="position: relative; height: auto;">
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_1' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_1.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wardrobe for Clothes, Almirah for Clothes, Cupboard, Almirah Wooden,Gingham 4 Door with Mirror,1 Drawer & 1 Hanging Space, 18MM Panels (Columbian Walnut)</h3>
						<p class="product-price">₹ 17,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_2' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_2.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood 3 Doors Wardrobe with 8 Drawers & 7 Shelf Storage – Exquisite Wooden Classic Almirah</h3>
						<p class="product-price">₹ 35,500</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_3' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_3.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood Four Door Wardrobe with Mirror in White Colour</h3>
						<p class="product-price">₹ 15,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<<a href="{% url 'wardrobe_4' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_4.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip"> Solid Sheesham Wood Almirah/Wardrobe/Cabinet/Cupboard/Bookshelf with Four Doors with Diamond Cut Design (Jharokha Honey)</h3>
						<p class="product-price">₹ 22,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_5' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_5.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Solid Sheesham Wood Wardrobe Tall Kitchen Crockery Cabinet Walnut</h3>
						<p class="product-price">₹ 14,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_6' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_6.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wardrobe with 2 Sliding Doors with Mirror & Shelves for Bedroom - White</h3>
						<p class="product-price">₹ 28,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_7' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_7.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Wooden Wardrobe for Livingroom | 2 Door & 4 Sheleves with Storage for Home, Office Mango Wood Almirah Cream Finish</h3>
						<p class="product-price">₹ 24,500 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 380px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_8' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_8.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood Wardrobe (Urban Teak)(Mirror, 2 Door)</h3>
						<p class="product-price">₹ 17,000 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 760px; top: 0px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_9' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_9.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">Engineered Wood 3 Door Wardrobe</h3>
						<p class="product-price">₹ 25,500</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center" style="position: absolute; left: 0px; top: 573.7px;">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'wardrobe_10' %}"><img src="{% static '/customer/img/wardrobe/wardrobe_10.jpg' %}" alt=""></a>
						</div>
						<h3 class="text-overflow-clip">3 Door Cabinet - Leon Teak Space & Cloths Organizer | Shelves | Cupboard | Almari | Wardrobe | Living Room | Multipurpose for Home Kitchen & Office</h3>
						<p class="product-price">₹ 15,900 </p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>

			<div class="row mt-5">
                <div class="col-md-12">
		            <div class="product-filters text-center ">
						<a href="{% url 'customer_dashboard' %}" class="cart-btn btn-lg">Go to Home</a>
					</div>
		        </div>
            </div>
		</div>
	</div>
{% endblock %}