{% load static %}
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="{% url 'dashboard' %}" style="font-family: Magneto;">The Wooden</a></h1>
    </div>

  <!-- if logo is image enable this -->
    <!-- image logo -->
    <!-- <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div> -->
    <!-- //image logo -->

    <div class="logo-icon text-center">
      <a href="{% url 'dashboard' %}" title="logo"><img src="{% static '/images/logo2.png' %}"  alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="{% url 'dashboard' %}"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-edit"></i>
            <span>Category<i class="lnr lnr-chevron-right-down"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="{% url 'category' %}">Add category</a></li>
            <li><a href="{% url 'category_read' %}">All category</a></li>
          </ul>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-edit"></i>
            <span>Sub-Category<i class="lnr lnr-chevron-right-down"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="{% url 'subcategory' %}">Add sub-category</a></li>
            <li><a href="{% url 'sub_category_read' %}">All sub-category</a></li>
          </ul>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-edit"></i>
            <span>Product<i class="lnr lnr-chevron-right-down"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="{% url 'product' %}">Add Product</a></li>
            <li><a href="{% url 'product_read' %}">All Product</a></li>
          </ul>
        </li>
        <li class="menu-list">
          <a href="#"><i class="fa fa-edit"></i>
            <span>Delivery Boy<i class="lnr lnr-chevron-right-down"></i></span></a>
          <ul class="sub-menu-list">
            <li><a href="{% url 'delivery_boy' %}">Add Delivery Boy</a></li>
            <li><a href="{% url 'db_read' %}">View Delivery Boy</a></li>
          </ul>
        </li>
        <li><a href="{% url 'customer_read' %}"><i class="fa fa-user"></i> <span>View Users</span></a></li>
        <li><a href="{% url 'order_read' %}"><i class="fa fa-list"></i> <span>View All Orders</span></a></li>
        <li><a href="{% url 'feedback' %}"><i class="fa fa-comment"></i> <span>View Feedback</span></a></li>
        <li><a href="{% url 'inquiry_read' %}"><i class="fa fa-envelope"></i> <span>View Inquiry</span></a></li>
        <li class="active"><a href="{% url 'mylogout' %}"><i class="fa fa-sign-out"></i> <span>Sign-out</span></a></li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-bars"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>