{% extends 'common/layout.html' %}  
{% load static %}
{% block content %}  
<nav aria-label="breadcrumb" class="mb-4">
  <ol class="breadcrumb my-breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">View Product</li>
  </ol>
</nav>
<section class="table">
  <div class="card card_border py-2 mb-4">
    <div class="cards__heading">
        <h3>View Prouduct<span></span></h3>
    </div>
    <div class="card-body">         
      <table class="table text-center table-hover">
          <thead>
            <tr>
              <th>Product_id</th>
              <th>Product_name</th>
              <th>Price</th>
              <th>Discription</th>
              <th>Image</th>
              <th>Category</th>
              <th>Sub Category</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for row in result %}
            <tr>
              <td>{{row.id}}</td>
              <td style="max-width: 200px; overflow-wrap: break-word;">{{row.name}}</td>
              <td>{{row.price}}</td>
              <td style="max-width: 500px; overflow-wrap: break-word;">{{row.description}}</td>
              <td><img src="/media/myadmin/{{row.image}}" height="100" width="100"></td>
              <td>{{row.category}}</td>
              <td>{{row.subcategory}}</td>
              <td><a href="/myadmin/product_edit/{{row.id}}"><i class="fa fa-edit"></i></a></td>
              <td><a href="/myadmin/product_delete/{{row.id}}"><i class="fa fa-trash-o"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div> 
</section>  
{% endblock %}  