{% extends 'common/layout.html' %}  
{% block content %}  
<!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'product_read' %}">View Product</a></li>
                <li class="breadcrumb-item active">Edit Product</li>
            </ol>
        </nav>
<!-- //breadcrumbs -->
<!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>Edit Product<span></span></h3>
                </div>
                <div class="card-body">
                    <form action="/myadmin/product_update/{{result.id}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Product</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control input-style" id="product_name" name="product_name" value="{{result.product_name}}">
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Price</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control input-style" id="price" name="price" value="{{result.price}}"> 
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Description</label>
                            <div class="col-sm-10">
                            <textarea class="form-control input-style" id="description" name="description">{{result.description}}</textarea>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Upload Image</label>
                            <div class="col-sm-10">
                                <input class="form-control input-style" type="file" id="image" name="image" value="{{result.product_name}}"><br>
                                <center><img src="/media/myadmin/{{result.image}}" height="100" width="100"></center>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Category</label>
                            <div class="col-sm-10">
                            <select class="form-control input-style" id="category" name="category">
                                   <option value="0">--- Select category ---</option>
                                   {% for row in category %}
                                        <option value="{{row.id}}" {% if result.category_id == row.id %} selected {% endif %}>{{row.category_name}}</option>
                                   {% endfor %}
                            </select>
                            </div>
                    </div> 
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Sub Category</label>
                            <div class="col-sm-10">
                            <select class="form-control input-style" id="subcategory" name="subcategory">
                                   <option value="0">--- Select category ---</option>
                                   {% for row in subcategory %}
                                        <option value="{{row.id}}" {% if result.subcategory_id == row.id %} selected {% endif %}>{{row.sub_cat_name}}</option>
                                   {% endfor %}
                            </select>
                            </div>
                    </div>   
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label input__label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Update</button>
                                <button type="submit" class="btn btn-primary btn-style mt-4"><a href="{% url 'product_read' %}" class="text-light">Cancel</a></button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </section>
<!-- //forms -->
{% endblock %} 