{% extends 'common/layout.html' %}  
{% block content %}  
<!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="{% url 'sub_category_read' %}">View Sub Category</a></li>
                <li class="breadcrumb-item active">Edit Sub Category</li>
            </ol>
        </nav>
<!-- //breadcrumbs -->
<!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>Edit Sub Category<span></span></h3>
                </div>
                <div class="card-body">
                    <form action="/myadmin/sub_category_update/{{result.id}}" method="post"> {% csrf_token %}
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Sub Category</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control input-style" id="subcategory" name="subcategory" value="{{result.sub_cat_name}}">
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label input__label">Category</label>
                            <div class="col-sm-10">
                            <select class="form-control input-style" id="category" name="category">
                                   <option value="0">--- Select category ---</option>
                                   {% for row in category %}
                                        <option value="{{row.id}}" {% if result.category_id == row.id %} selected {% endif %}>{{row.category_name}}</option>
                                   {% endfor %}
                            </select>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label input__label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary btn-style mt-4">Submit</button>
                                <button type="button" class="btn btn-primary btn-style mt-4"><a href="{% url 'sub_category_read' %}" class="text-light">Cancel</button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </section>
<!-- //forms -->
{% endblock %} 