{% extends 'common/layout.html' %}  
{% block content %}  
<nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Order</li>
            </ol>
</nav>
<section class="table">
<div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>View Order<span></span></h3>
                </div>
                <div class="card-body">
                   
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">Order_id</th>
            <th>Product_name</th>
            <th>date</th>
            <th>status</th>
            <th>method</th>
            <th>offer</th>
            <th>edit</th>
            <th data-breakpoints="xs">delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jelly</td>
            <td>29/02/2023</td>
            <td>finished</td>
            <td>cash</td>
            <td>12</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jelly</td>
            <td>29/02/2023</td>
            <td>finished</td>
            <td>cash</td>
            <td>12</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jelly</td>
            <td>29/02/2023</td>
            <td>finished</td>
            <td>cash</td>
            <td>12</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
                </div>
            </div> 
</section> 
{% endblock %}  