{% load static %}
<div id="sticker-sticky-wrapper" class="sticky-wrapper" style="height: 50px;">
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'customer_dashboard' %}">
								<img src="{% static '/customer/img/lg2.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul class="hover">
								<li><a href="{% url 'customer_dashboard' %}">Home</a>
								</li>
								<li><a href="{% url 'about' %}">About us</a></li>
								<li><a href="{% url 'inquiry' %}">Contact us</a></li>
								<li><a href="#">Category</a>
									<ul class="sub-menu">
										{% for c in category %}
											<li><a href="/customer/category/{{c.id}}">{{c.category_name}}</a></li>
										{% endfor %}
									</ul>
								</li>
								<li><a href="{% url 'profile' %}">Profile</a>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/customer/cart"><i class="fas fa-shopping-cart"></i></a>
										<!-- <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
									</div>
								</li>
							</ul>
						</nav>
	
						<!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>