{% extends 'common/layout.html' %}  
{% block content %}  
<nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Users</li>
            </ol>
</nav>
<section class="table">
  <div class="card card_border py-2 mb-4">
      <div class="cards__heading">
          <h3>View Users<span></span></h3>
      </div>
      <div class="card-body">         
        <table class="table text-center table-hover col-lg-12">
          <thead style="overflow-x: scroll;">
            <tr>
              <th>Customer_id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            {% for user in result %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.profile.contact}}</td>
              <td style="max-width: 200px; overflow-wrap: break-word;">{{user.profile.address}}</td>
            </tr>
            {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
  </div> 
</section> 
{% endblock %}  