{% extends 'common/layout.html' %}  
{% load cart_tag %}
{% block content %}  
<nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Payment Details</li>
            </ol>
</nav>
<section class="table">
<div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>View Payment Details<span></span></h3>
                </div>
                <div class="card-body">
                   
      <table class="table table-hover text-center" style="overflow-x:scroll;">
        <thead>
          <tr>
            <th>Payment id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Payment Type</th>
            <th>Total</th>            
            <th>Date</th>            
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for row in result %}
          <tr>
            <td style="width: 100px;">{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.pay_type}}</td>
            <td>{{row.total}}</td>
            <td>{{row.date}}</td>
            <td><a href="/myadmin/order_delete/{{row.id}}"><i class="fa fa-trash-o"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>  
{% endblock %}  