{% extends 'common/layout.html' %}  
{% block content %}  
<!-- <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     View Category
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">Category_id</th>
            <th>Category_Name</th>
            <th>Edit</th>
            <th data-breakpoints="xs">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jelly</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jelly</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jelly</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Category</li>
            </ol>
</nav>
<section class="table">
<div class="card card_border py-2 mb-4">
                <div class="cards__heading">
                    <h3>View Category<span></span></h3>
                </div>
                <div class="card-body">
                   
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th data-breakpoints="xs">Category_id</th>
            <th>Category_Name</th>
            <th>Edit</th>
            <th data-breakpoints="xs">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Jelly</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jelly</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jelly</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
                </div>
            </div> 
</section>  
{% endblock %}  