{% load static %}
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="{% url 'db_dashboard' %}" style="font-family: Magneto;">The Wooden</a></h1>
    </div>

  <!-- if logo is image enable this -->
    <!-- image logo -->
    <!-- <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div> -->
    <!-- //image logo -->

    <div class="logo-icon text-center">
      <a href="{% url 'db_dashboard' %}" title="logo"><img src="{% static '/images/logo2.png' %}"  alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="{% url 'db_dashboard' %}"><i class="fa fa-tachometer"></i><span>Dashboard</span></a>
        </li>
        <!-- <li><a href="{% url 'customer_read' %}"><i class="fa fa-user"></i> <span>View Customer</span></a></li> -->
        <!-- <li><a href="{% url 'order' %}"><i class="fa fa-list"></i> <span>View All Orders</span></a></li> -->
        <!-- <li><a href="{% url 'delivery' %}"><i class="fa fa-truck"></i> <span>View Delivery Boy</span></a></li> -->
        <li class="active"><a href="{% url 'mylogout' %}"><i class="fa fa-sign-out"></i> <span>Sign-out</span></a></li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-bars"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>